<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Search results</title>
</head>
<body>
<h1><strong>Result your request</strong></h1>

<h2><strong>Fridge</strong></h2>
<p><strong>Type:</strong> <span th:text="${fridge.type}"></span></p>
<p><strong>Description:</strong> <span th:text="${fridge.description}"></span></p>
<p><strong>Discount:</strong> <span th:text="${fridge.discount}"></span></p>
<p><strong>Defect:</strong> <span th:text="${fridge.defect}"></span></p>
<p><strong>Price:</strong> <span th:text="${fridge.price}"></span></p>
<p><strong>Number:</strong> <span th:text="${fridge.number}"></span></p>
<h3><strong>Kettle</strong></h3>
<p><strong>Type:</strong> <span th:text="${fridge.kettleWebDto?.type}"></span></p>
<p><strong>Color:</strong> <span th:text="${fridge.kettleWebDto?.color}"></span></p>
<p><strong>IsElectric:</strong> <span th:text="${fridge.kettleWebDto?.isElectric}"></span></p>
<p><strong>IsInduction:</strong> <span th:text="${fridge.kettleWebDto?.isInduction}"></span></p>
<p><strong>Price:</strong> <span th:text="${fridge.kettleWebDto?.price}"></span></p>
<p><strong>Number:</strong> <span th:text="${fridge.kettleWebDto?.number}"></span></p>

<h3><strong>Multicooker</strong></h3>
<div th:each="multicooker : ${fridge.multicookerWebDtos}">
    <h4>multicooker <span th:text="${multicooker.number + 1}"></span></h4>
    <p><strong>Type:</strong> <span th:text="${multicooker.type}"></span></p>
    <p><strong>Description:</strong> <span th:text="${multicooker.description}"></span></p>
    <p><strong>IsTouchScreen:</strong> <span th:text="${multicooker.isTouchScreen}"></span></p>
    <p><strong>NumberModes:</strong> <span th:text="${multicooker.numberModes}"></span></p>
    <p><strong>Price:</strong> <span th:text="${multicooker.price}"></span></p>
    <p><strong>Number:</strong> <span th:text="${multicookerWebDto.number}"></span></p>

</div>

<a th:href="@{/fridge/home}" id="home">
    <button type="button">Return to home page</button> </a>
</body>
</html>